# random vscode and environemt stuff
.vscode/*
Pipfile.lock

# app stuff
genrefi/figenre/static/bootstrap/**
genre_scrape/.vscode/*
genrefi/geckodriver.log
dump.rdb
tmp/
tmp

# environment variables
.env

# notes for me
scratch/notes.txt
genrefi/figenre/static
