[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.1.3"
spotipy = "*"
requests = "*"
selenium = "*"
django-redis = "*"
redis = "*"
django-redis-sessions = "*"

[dev-packages]
bandit = "*"
beautifulsoup4 = "*"
django-dotenv = "*"
django-debug-toolbar = "*"

[requires]
python_version = "3.9"
