// required
@use 'sass:map';
//@import "../bootstrap/scss/bootstrap";

//@import "../bootstrap/scss/functions";
//@import "../bootstrap/scss/variables";
//@import "../bootstrap/scss/mixins";
//@import "../bootstrap/scss/buttons";



// Custom.scss
// manipulating bootstrap sass variables

$theme-colors: (
  "primary":    #74ad7b,
  "secondary":  #759eb8,
  "spotify":    #226f54,
  "bej":        #f4f0bb,
  "orange":     #ff8630,
);

$enable-rounded: true;
$enable-shadows: true;
$enable-gradients: false;
$enable-grid-classes: true;
$enable-print-styles: true;

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

$fonts: (
"title-font" : 'Montserrat',
"base-font" : 'Raleway',
"base-font2" : 'Russo One'
);
$spacer: 1rem;

@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
    } 
} 
// --------------------------------------------------------
body {
  position: relative;
  padding: 0 32px;
  background: linear-gradient(to right, map.get($theme-colors, "secondary"), 
    map.get($theme-colors, "spotify"));
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  animation: fadeInAnimation ease 2s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}



// Header area ---------------------------
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 32px 64px 32px 64px;
}
.header .logo-link {
  width: 40%;
.big-logo {
  width: 100%;
}
}
.header .socials {
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  height: 30%;
  margin-top: 3%;
}
.header .image-link-cont{
  display: flex;
  align-self: center;
  width: 30%;
  height: 30%;
}
.image-link {
  width: 50%;
  height: 50%;
  object-fit: cover;
  align-content: center;
}
.image-link:hover {
  transform: scale(1.1);
}
// ---- main sectio0n of body ------
.main {
  padding-bottom: 2.5rem;
}
button {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0;
}
button .auth-link {
  text-decoration: none;
}

// -------- login button and effect -----
.main-butt {
  cursor: pointer;
  font-family: map.get($fonts, "title-font");
  font-size: 20px;
  font-weight: 950;
	position: center;
	overflow: hidden;
	top: 40%;
  width: 150px;
	perspective:200px;
	background-color: transparent;
  
  -webkit-box-reflect: below 
  0px -webkit-gradient(linear, left top, left bottom, 
  from(transparent), 
  color-stop(50%, transparent), 
  to(rgba(255,255,255,0.3)));
 }
 .main-butt span{
	display: block;
	position: relative;
	transition:0.3s ease-in-out all;
  transform-origin:50% 0;
  transform-style:preserve-3d;
	border: solid 1px map.get($theme-colors, "orange");
	color: map.get($theme-colors, "orange");
  width: 100%;
}
.main-butt span:after{
	display: block;
	content: attr(data-title);
	position: absolute;
	left: 0;
	top: 0;
	transition:0.3s ease-in-out all;
	transform-origin:50% 0;
	transform:translate3d(0px,105%,0px) rotateX(-90deg);
	border: solid 1px map.get($theme-colors, 'orange');
	color: map.get($theme-colors, 'orange'); 
  width: 100%;
}
.main-butt:hover span{
  transform: scale(1.5);
	transform:translate3d(0px,0px,-40px) rotateX(90deg);
}

.disclaimer {
  font-family: map.get($fonts, "base-font");
  color: map.get($theme-colors, 'orange');
  font-size: smaller;
  padding-left: 32px;
}
// ----- end button effect ----

#log-out {
  cursor: pointer;
  padding-bottom: 32px;
}
.text-info {
  padding: 0px 32px;
  transition-timing-function: ease-in;
  font-family: map.get($fonts, "base-font");
  color: map.get($theme-colors, 'bej');
  font-size: larger;
  font-weight: 900;
}
.nar1 p {
  line-height: 1.8;
}
.text-info .bold{
  font-size: x-large;
  font-weight: bold;
  text-decoration: underline;
}
#no-under {
  text-decoration: none;
}
#nar2 p {
  line-height: 1;
}


// ------------ table -------------------------
.genre-info {
  padding: 0px 32px;
  transition-timing-function: ease-in;
  font-family: map.get($fonts, "base-font");
  color: map.get($theme-colors, 'bej');
  font-size: larger;
  font-weight: 900;
  animation: fadeInAnimation ease-in 4s;
}
.genre-table tbody{
  display: flex;
  flex-direction: row;
  align-content: space-between;
  flex-wrap: wrap;
}
.num-dec {
  color: map.get($theme-colors, "orange");
  font-size: x-large;
}
tr .numbers {
  cursor: pointer;
  display: none;
}
tr:hover .perc {
  cursor: pointer;
  display: none;
}
tr:hover .numbers {
  position: relative;
  cursor: pointer;
  display: inline;
}




