{% extends 'base.html' %}
{% block narrative-1 %}
<div class="text-info nar1">
    <p>Our Spotify libraries are like pockets of emotion; cataloging moments of growth mappable to the volatility of our sonic preference.</p> 
    <p> As our Libraries amass, they become void of solace. The music we feel today is lost tomorrow. Our history is forgotten.</p>
    <p>This app was created for the generalist, the specialist, and the equadistant, to give insight into what defines so many of us.</p>
    <p>By giving us access to your spotify library, we will show you the genre-representation of your collection that is unavailable otherwise.</p>
    <p>And that's basically it...</p>
</div>
{% endblock %}
{% block button-and-form %}
<button class="main-butt" id="login"><a class="auth-link" href={{ auth_url }}><span data-title="Spotify">Log in</span></a></button>
{% endblock %}
{% block disclaimer %}
<p class="disclaimer">**No personal information is stored. All PI is deleted when the user-session ends.</p>
{% endblock %}

