<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Genrefi</title>
    <link rel="stylesheet" href="../static/stylesheets/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Russo+One&display=swap" rel="stylesheet">


</head>
<body>
    <section class="main">
        <div id="header">
            <img src="../static/img/big-logo.png" 
            alt="Genrefi is the name" class="big-logo">
            {% block write-about-stuff %}
            {% endblock %}

            {% block button-and-form %}
            {% endblock %}
            {% csrf_token %}
        </div>
        <div class="info">
            {% block table %}
            {% endblock %}
        </table>
        </div> 
    </section>
    <section class="footer"> 
        <a  href="https://twitter.com/FencerSpinkel" 
            id="github"><img class="image-link"
            src="../static/img/GitHub-Mark-Light-120px-plus.png"
            alt="Twitter link"></a> 
        <a  href="https://twitter.com/FencerSpinkel" 
            id="twitter"><img class="image-link"
            src="../static/img/Twitter_Social_Icon_Circle_White.png"
            alt="Twitter link"></a>
        <a  href="https://www.linkedin.com/in/spencer-finkel" 
            id="linkedin"><img class="image-link"
            src="../static/img/LI-In-Bug.png "
            alt="Twitter link"></a> 
   </section>
</body>
</html>